rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /book-covers/{coverId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}